@media (max-width: 575px) {
    .navbar-light .navbar-brand img{
        width: 100px;
        height:auto;
    }
    .nav-link{
        padding: 0;
    } 
    #banner {
        padding: 120px 0;
        width: 100%;
        height: 430px;
        box-sizing: border-box;
    }
    #banner-bg{
        height: 660px;
    }
    .banner-pic img {
        display: none;
    }
    .banner-content {
        top: 10%;
    }
    .banner-content #animate-text span{
        /* letter-spacing: 0.2rem; */
        font: 700 15px "Oswald", sans-serif;
    }
    .banner-content #animate-text{
        width: 110%;
        margin: 0 auto;
    }
    .banner-content h1 {
        padding-top: 70px;
        font-size: 20px;
    }
    #about {
       padding-bottom: 40px;
    }
    #about .download-btn{
        padding: 4px 10px;
    }
    #about h1{
        font-size: 22x;
    }
    #about p{
      
        font-size: 15px;
        text-align: justify;
    }
    #about .about-img img{
        width: 100px;
    }

    .about-img.text-center{
        position: relative;
        top: 20%;
    }
    #skill{
        padding: 50px;
    }
    #skill .skill-img img {
        width: 40%;
        height: auto;
        left: 0;
    }
    #skill .skill-img {
        text-align: center;
        margin-top: 20px;
    }

    #skill-bar-wrapper{
        padding-top: 0;
        top: 10%;
    }
    #service #banner-service{
        background: none;
    }
    #service #banner-service h2{
        font-size: 20px;
    }
    #service .service-content-box{
        padding-top: 0;
    }
    #service .service-content-box h4{
        font-size: 18px;
        font-weight: bold;
    }
    #service .banner-service{
        transform:skewX(0);
    }
    #service .service-content-box{
        transform:skewX(0);
    }
    #service .service-content-box p{
        font-size: 14px;
    }
    #service .service-div.text-center{
        margin-bottom: 20px;
    }
    #contact .contact-left-div{
        top: 0;
    }
    #contact .divider-right::after,
    #contact .divider-left::after{
        display: none;
    }
    #contact .form-content{
        top: 0;
        text-align: center;
    }
    #contact .address-content{
        text-align: center;
    }
    #contact .address{
        top: 0;
        margin-left: 0;
    }
    #contact .address-content a{
        padding-top: 15px;
        font-size: 15px;
    }
    #contact .address-content hr{
        display: none;
    }
    #footer #footer-text{
        width: 100%;
        font-size: 10px;
    }
    #footer #footer-text #footer-span{
        font-size: 15px;
    }



}

@media (min-width: 576px) and (max-width: 767px) { 
    .nav-link{
        padding: 0;
    } 
    #banner{
        height: 500px;
    }
    #about .about-img img{
        width: 115px;
    }
    #about .about-content{
        top: 0;
    }
    #banner .banner-pic img {
        position: relative;
        width: 235px;
        top: 103px;
        height: 350px;
    }
    #banner .banner-content{
        top: 60%;
    }
    #banner .banner-content #animate-text{
        width: 150%;
    }
    #banner .banner-content #animate-text span{
        color: #222;
        font: 700 20px "Oswald", sans-serif;
        letter-spacing: 0.1rem;
        display: block;
    }
    #banner .banner-content h1{
        font-size: 20px;
    }
    #banner .banner-content a.button{
        font-size: 10px;
    }
    #skill-bar-wrapper{
        top: 10%;
    }
    #service{
        padding-bottom: 50px;
    }
    #service #banner-service{
        top: 55%;
        height: 120%;
    }
    .service-div.text-center{
        margin-bottom: 20px;
    }


    .service-content-box{
        padding-top: 0;
    }
    .service-content-box h4{
        font-size: 20px;
    }
    .service-content-box p{
        font-size: 14px;
        margin-bottom: 0;
    }
    #skill .skill-img img{
        width: auto;
        height: 300px;
    }
    #contact{
        height: 670px;
    }
    #contact .form-content{
        width: 65%;
        top: 5px;
    }
    #contact .form-control{
        font-size: 0.8rem;
    }
    #contact .form-control {
        margin-top:8px;
        width: 85%;
    }
    #contact a.submit-btn {
        color: white;
        font-size: 12px;
    
        padding: 4px 10px;
    }
    #contact .contact-left-div{
        margin-bottom: 25px;
        top: 0%;
    }
    #contact .divider-right::after,
    #contact .divider-left::after {
       top: 0px;
        left: 5%;
        width: 450px;
        height: 235px;
    }
    #contact .divider-right::after{
        top: 5%;
    }
    .address{
        width: 65%;
    }
    .address-content a{
        padding-top: 0;
        font-size: 15px;
    }
    



}

@media (min-width: 768px) and (max-width: 991px) { 
    .nav-link{
        padding: 0;
    } 
    .banner-pic img {
        top: 0;
    }
    .banner-content #animate-text{
        width: 170%;
    }
    .banner-content #animate-text span {
       letter-spacing: 0.2rem;
    }
    #about{
        height: 300px;
    }
    #service{
        padding-bottom: 50px;
    }
    #service .service-div{
      margin-bottom: 20px;
    }
    #contact{
        height: 650px;
    }
    #contact .form-content{
        width: 65%;
        top: 5px;
    }
    #contact .form-control{
        font-size: 0.8rem;
    }
    #contact .form-control {
        margin-top:8px;
        width: 85%;
    }
    #contact a.submit-btn {
        color: white;
        font-size: 12px;
    
        padding: 4px 10px;
    }
    #contact .contact-left-div{
        margin-bottom: 25px;
        top: 0%;
    }
    #contact .divider-right::after,
    #contact .divider-left::after {
    
        left: 10%;
        width: 500px;
        height: 235px;
    }
    #contact .divider-right::after{
        top: 5%;
    }
    .address{
        width: 65%;
    }
    .address-content a{
        padding-top: 0;
        font-size: 15px;
    }


}

@media (min-width: 992px) and (max-width: 1199px) {  
    #banner-bg{
        width: 110%;
    }
    .banner-pic img {
      top: -64px;
    }
    
}

@media (min-width: 1200px) { ... }